In [ ]:
import psycopg2

In [ ]:
# DB CONNECTION PARAMETERS
# For local postgresql connection
DB_HOST = "localhost"
DB_PORT = "5432"
DB_NAME = "bootcamp_dba
DB_USER = "postgres"
DB_PASS = "postgres"

In [ ]:
# For render cloud postgresql connection
DB_HOST = "dpg-cn64b6md3nmc739gf1bg-a.ohio-postgres.render.com"
DB_PORT = "5432"
DB_NAME = "dlytica_db"
DB_USER = "dlytica"
DB_PASS = "xWxj0xYN7Lf8mMJO4iV4f05zt0EL9UFi"

In [ ]:
# Connect to PostgreSQL database
conn = psycopg2.connect(host=DB_HOST, database=DB_NAME, user=DB_USER, password=DB_PASS, port=DB_PORT)

cursor = conn.cursor()

In [ ]:
cursor.execute("""
-- SQL Queries here
CREATE TABLE students (
    student_id SERIAL PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    age INT,
    major VARCHAR(50)
);
""")

In [ ]:
conn.commit()

In [ ]:
# conn.rollback()

In [ ]:
cursor.execute("""
INSERT INTO students (first_name, last_name, age, major)
VALUES
    ('Alice', 'Johnson', 20, 'Math'),
    ('Bob', 'Smith', 22, 'Physics'),
    ('Charlie', 'Brown', 21, 'Computer Science'),
    ('David', 'Lee', 23, 'Biology');
""")

In [ ]:
conn.commit()

In [ ]:
# Query the data
select_query = '''
SELECT * FROM students;
'''
cursor.execute(select_query)
rows = cursor.fetchall()
print(rows)

[(1, 'Alice', 'Johnson', 20, 'Math'), (2, 'Bob', 'Smith', 22, 'Physics'), (3, 'Charlie', 'Brown', 21, 'Computer Science'), (4, 'David', 'Lee', 23, 'Biology')]

In [ ]:
# Close the cursor and connection
cursor.close()
conn.close()